@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root{
    --font-Outfit:'Outfit', sans-serif;
    --clr-white:hsl(0, 0%, 100%);
    --clr-Light-gray: hsl(212, 45%, 89%);
    --clr-Grayish-blue: hsl(220, 15%, 55%);
    --clr-Dark-blue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--clr-Light-gray);
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
}

main{
    background-color: var(--clr-white);
    max-width: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 600px;
    
}

.qr-code{
    margin: 1rem;
}

img{
    align-items: center;
    border-radius: 10px;
    width: 100%;
}

.description{
    text-align: center;
    font-family: var(--font-Outfit);
    color: var(--clr-Grayish-blue);
    margin: 1rem;
    font-size: 1.2rem;

}

.title{
    text-align: center;
    font-family: var(--font-Outfit);
    color: var(--clr-Dark-blue);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem; 
}






